@media only screen and (min-width: 240px) and (max-width: 639px) {
  .right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    top: 0;
    display: block;
  }

  .left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    height: 100vh;

    background: rgba(255, 0, 132, 0.1); /* fallback for old browsers */
    background-image: -webkit-linear-gradient(
      to right,
      rgba(51, 0, 27, 0.1),
      rgba(255, 0, 132, 0.1)
    ); /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(
      to right,
      rgba(51, 0, 27, 0.1),
      rgba(255, 0, 132, 0.1)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all ease-in 0.2s;
  }

  .start .left {
    position: fixed;
    background: rgba(255, 0, 132, 1); /* fallback for old browsers */
    background-image: -webkit-linear-gradient(
      to right,
      rgba(51, 0, 27, 1),
      rgba(255, 0, 132, 1)
    ); /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(
      to right,
      rgba(51, 0, 27, 1),
      rgba(255, 0, 132, 1)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .start .right {
    display: none;
  }

  .heart {
    width: 96vw;
  }

  .container {
    transform: translate(-50%, -40%);
  }

  .start .container {
    transform: translate(-50%, -50%);
  }

  .wedding {
    width: 20vw;
  }

  .weare {
    font-weight: bold;
    font-size: 6vw;
    color: #d751e4;
  }

  .wetwo {
    font-size: 4.5vw;
    color: rgba(215, 81, 228, 1);
  }

  .date {
    font-size: 3vw;
    color: rgba(215, 81, 228, 1);
  }

  .timer {
    font-size: 5vw;
  }

  .guest {
    font-size: 5vw;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 640px) and (max-width: 1824px) {
  .right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
  }

  .left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    z-index: 99999;
    transition: all ease-in 0.2s;
  }

  .start .left {
    width: 100%;
  }

  .heart {
    width: 40vw;
  }

  .container {
    transform: translate(-50%, -50%);
  }

  .wedding {
    width: 10vw;
  }

  .guest {
    font-size: 1.5vw;
  }

  .weare {
    font-weight: bold;
    font-size: 1.8vw;
  }

  .wetwo {
    font-size: 1.8vw;
  }

  .date {
    font-size: 1.4vw;
  }

  .timer {
    font-size: 2vw;
  }
}
